* {
  margin: 0; 
  padding: 0; 
}

.container {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  width: 100%; 
  height: 100vh; 
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0.8)), url(images/banner-bg.jpeg);
  background-size: cover;
  /* DISPLAY WILL BE MODIFIED BY JS */ 
  /* display: none;  */
} 

.logo {
  height: 80px;
  width: 80px; 
  position: fixed;
  top: 20px; 
  left: 50px;  
  z-index: 10;
}

.logo img {
  width: 100%; 
}

.hamburger-menu {
  width: 31px; 
  height: 35px; 
  /* background-color: #fff;  */
  position: fixed; 
  top: 40px; 
  right: 50px;  

  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  z-index: 5; 
}

  .line {
    width: inherit; 
    height: 5px; 
    border-radius: 25px; 
    background-color: #16c3cf; 
    transform-origin: right;
    transition: all .5s; 
  }

  .change .line-1 {
    transform: rotateZ(-45deg); 
  }

  .change .line-2 {
    height: 3px; 
    transform: translate(5px, 20px);
  }

  .change .line-3 {
    transform: rotateZ(45deg); 
  
  }

.btn-wrapper {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  
  perspective: 1000px; 
}

.banner-btn {
  perspective: 1000px; 
  width: 350px; 
  height: 100px; 
  background: linear-gradient(#16c3cf, #156469); 
  border: none; 
  outline: none; 
  font-family: 'Slabo 27px', serif; 
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff; 
  text-shadow: 0 10px 10px #000; 
  cursor: pointer;
  transform: rotateX(70deg) rotateZ(30deg); 
  transform-style: preserve-3d; 
  /* Aby zachować perspektywe 
  https://webkod.pl/kurs-css/wlasciwosci/przeksztalcenie/transform-style */ 
  transition: transform 1s ease; 
}

.banner-btn::before {
  content: ''; 
  width: 100%; 
  height: 15px; 
  position: absolute; 
  bottom: 0; 
  right: 0; 
  transform: rotateX(90deg); 
  transform-origin: bottom; 
  background: linear-gradient(#16c3cf, #156469); 
} 

.banner-btn::after {
  content: ''; 
  height: 100%; 
  width: 15px; 
  position: absolute; 
  top: 0; 
  right: 0; 
  transform: rotateY(-90deg); 
  transform-origin: right; 
  background-color:  #16c3cf; 
} 

.banner-btn:hover {
  transform: rotateX(30deg) rotateZ(15deg);
}

/* NAVs - separate screen */

.top-nav {
  height: 15vh; 
  width: 100%; 
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/nav-bg.jpeg) no-repeat 50% 0; 
  background-size: cover; 
  position: fixed; 
  top: -15vh; 
  transition: top .5s ease; 
}

.show.top-nav {
  top: 0vh; 
}

.nav-list {
  background-color: transparent;
  list-style: none;
  width: 80%; 
  margin: auto;
  height: inherit;  

  display: flex; 
  justify-content: space-evenly;
  align-items: center;
}

.nav-list li {
  /* 3d effect */ 
  perspective: 1000px;
}

.nav-link {
  position: relative; 
  display: block; 
  text-decoration: none;
  font-family: 'Slabo 27px', serif; 
  font-size: 30px; 
  text-transform: uppercase;
  color: #ccc; 
  background-color: black; 
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: all .5s ease; 
  /* 3-D effect */ 
  transform-origin: top;
  transform-style: preserve-3d; 
  transform: rotateX(0deg);
}

.nav-link:hover {
    /* 3d effect 
      the entire thing and the child element moves 90deg
    */ 
    transform: rotateX(90deg);
}

.nav-link::after {
  box-sizing: border-box;
  padding: 5px 10px; 
  background-color: #16c3cf; 
  content: attr(data-text);
  position: absolute; 
  bottom: -100%; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  transition: all .5s ease; 
  color: black; 
  /* 3d effect */ 
  transform: rotateX(-90deg);
  transform-origin: top; 
}

/* Bottom 3D nav with social icons */ 

.bottom-nav {
  width: 100%; 
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/nav-bg.jpeg) no-repeat 50% -15vh; 
  background-size: cover;
  height: 85vh; 
  position: fixed; 
  bottom: -85vh; 
  transition: bottom .5s ease;  
}

.show.bottom-nav {
  bottom: 0vh; 
}

.icons {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  list-style: none; 
  display: flex; 
  width: 80%; 
  justify-content: space-between; 
}

.icon-item {
  /* 3D- effect */ 
  perspective: 1000px; 
}

.icon-link {
  display: block; 
  width: 200px; 
  height: 200px; 
  border: 8px solid #fff; 
  border-radius: 5px;
  text-decoration: none;

  display: flex; 
  justify-content: center;
  align-items: center;

  /* 3D effect */ 
  transform-style: preserve-3d; 
  transition: transform .5s ease; 
}

.icon-link:hover {
  transform: rotateY(35deg); 
}

.icon-link::before {
  content: ''; 
  height: 24px;
  width: 5px; 
  background-color: white; 
  position: absolute; 
  top: 0; 
}

.icon-link::after {
  content: ''; 
  height: 24px;
  width: 5px; 
  background-color: white; 
  position: absolute; 
  bottom: 0; 
}

.icon-link i {
  color: white; 
  font-size: 60px; 
  width: 150px; 
  height: 150px; 
  /* here we use flex box to manipulate content of i tag (the icon) */ 
  display: flex; 
  justify-content: center;
  align-items: center;

  background-color: #555; 
  border: 3px solid #fff; 
  text-shadow: 0 10px 20px rgba(0,0,0,.5); 
  overflow: hidden; 

  transition: all .5s ease; 
  position: relative; 
}

.icon-link:hover i {
  transform: rotateY(-70deg); 
  text-shadow: 10px 10px 20px rgba(0,0,0,.5); 
}

.icon-link i::after {
  content: ''; 
  height: 100%; 
  width: 100%; 

  position: absolute; 
  top: -130%; 
  right: -130%; 
  border-radius: 50%; 
  transition: all .3s ease; 
  z-index: -1; 
}

.icon-link:hover i::after {
  top: 0; 
  right: 0; 
  border-radius: 0%; 
}

.icons-item:nth-child(1) .icon-link i::after {
  background-color: #55acee; 
}

.icons-item:nth-child(2) .icon-link i::after {
  background-color: #cd201f; 
}

.icons-item:nth-child(3) .icon-link i::after {
  background-color: #55acee; 
}

.icons-item:nth-child(4) .icon-link i::after {
  background-color: #dd4bc9; 
}

@media (max-width: 1600px) {
  .icons {
    width: 80%; 
  }
}

@media (max-width: 1200px) {
  /* TOP NAV */ 
  .top-nav {
    background: #010101;
  }
  .nav-list {
    justify-content: center;
  }
  .nav-link {
    font-size: 25px; 
  }

  /* BOTTOM NAV */ 
  .icons {
    width: 70%; 
    flex-wrap: wrap; 
    align-content: center;
    justify-content: center;
  }

  .icon-link {
    width: 180px; 
    height: 180px; 
    margin: 20px; 
  }

  .icon-link i {
    width: 130px; 
    height: 130px; 
    font-size: 30px; 
  }

}

@media (max-width: 900px) {
  .banner-btn {
    width: 300px; 
    height: 80px; 
    font-size: 30px; 
  }

  .top-nav {
    height: 25vh; 
    top: -25vh; 
  }

  .nav-list {
    width: 70%; 
    align-content: center;
  }

  .bottom-nav {
    height: 75vh; 
    bottom: -75vh; 
  }

  .nav-link {
    margin: 3px 0; 
  }

  
  /* BOTTOM NAV */ 
  .icons {
    width: 95%; 
  }

  .icon-link {
    width: 140px; 
    height: 140px; 
  }

  .icon-link i {
    width: 90px; 
    height: 90px; 
    font-size: 30px; 
  }

}
